@model Avianca.Models.ControlDespegue

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ControlDespegue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDespegue" class="control-label"></label>
                <input asp-for="IdDespegue" class="form-control" />
                <span asp-validation-for="IdDespegue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pista" class="control-label"></label>
                <input asp-for="Pista" class="form-control" />
                <span asp-validation-for="Pista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechayHora" class="control-label"></label>
                <input asp-for="FechayHora" class="form-control" />
                <span asp-validation-for="FechayHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

