@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1> Avianca S. A.</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido</h2>
        <p>
            AVIANCA S. A. (acrónimo de Aerovías del Continente Americano, anteriormente Aerovías Nacionales de Colombia)
            es la mayor aerolínea que opera en Colombia. Fundada en 1919 con el nombre de SCADTA,
            es mundialmente la segunda aerolínea más antigua después de la KLM que fue fundada 58
            días antes y la más antigua del mundo con operaciones ininterrumpidas.


        </p>
    </div>

</div>